html,
body,
.font-fam,
.modal-content,
.swal2-html-container {
  padding: 0;
  margin: 0;
  font-family: "Kanit", serif;
}

/* ใช้------------------- */

a {
  color: #3869b2 !important;
  text-decoration: none;
}

.btn-active{
  border-bottom: 2px solid #3766FF;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #20a8d8 !important;
  border-color: #20a8d8 !important;
}

.bg-nav {
  background: linear-gradient(90deg, #fff 100%);
}
 .bg-detail{
  background-color: #E0EFFF;
 }
.login .modal-content {
  border: 0px solid rgba(0, 0, 0, 0) !important;
}

.modal.modal-overlap {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.cursor-p {
  cursor: pointer;
}

.blod {
  font-weight: bold !important;
}

.blod-back {
  color: #000000 !important;
  font-weight: bold !important;
}

.text-blue {
  color: #3766FF !important;
}

.blue-60{
  color: #6D8FFF;
}

.blue-70{
  color: #3766FC;
}
.blue-80{
 color: #3766FF;
}

.text-red {
  color: #E9292A !important;
}

.text-gray-light {
  color: rgb(165, 165, 165) !important;
}

.text-gray-100 {
  color: #7a7b7c !important;
}
.text-gray{
  color: #989393;
}
.gray-40{
  color: #D0CACA;
}
.gray-50{
  color: #D5D5DC;
}
.gray-60{
  color: #B5B5BE;
}
.gray-70{
  color: #92929D;
}
.gray-80{
  color: #696974;
}
.gray-90{
  color: #44444F;
}
.gray-100{
  color: #171725;
}
.text-white {
  color: #fff;
}

.font12 {
  font-size: 12px !important;
}
.font13 {
  font-size: 13px !important;
}

.font10 {
  font-size: 10px !important;
}

.font14 {
  font-size: 14px !important;
}

.font36 {
  font-size: 36px !important;
}

.font18 {
  font-size: 18px !important;
}

.font20 {
  font-size: 20px !important;
}

.font22{
  font-size: 22px !important;
}
.font24{
  font-size: 24px !important;
}

.font25{
  font-size: 25px !important;
}

.font30{
  font-size: 30px !important;
}

.font35{
  font-size: 35px !important;
}

.font50{
  font-size: 50px !important;
}

.text-align-end{
  text-align: end;
}

.fixed-footer-container {
  min-height: calc(100vh - 132px);
}
.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  
}

.border-r {
  border-right: 2px solid #dee2e6 !important;
}

.circle-blue{
  height: 25px;
  -moz-border-radius: 75px !important;
  -webkit-border-radius: 75px;
  width: 25px;
  background-color: #203864;
}

.link:hover {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.i-circle {
  width: 4px;
  margin-bottom: 2px;
}

.border-situation {
  border: 1px solid #173f5f;
}

.img-cover{
  width: 180px ;
  height: 300px !important;
  object-fit: cover;
}

.img-logo{
  width: 75px ;
  height: 75px !important;
  object-fit: cover;
}

.img-logo2{
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
}

.image-container div {
  position: unset !important;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.img-inline {
  display: inline !important;
}

.nav-link.child {
  padding-left: 3.4rem !important;
}

.nav-pills .nav-link {
  border-radius: 0rem !important;
}

.nav-item.tab > .nav-link.active {
  background: #fff !important;
  color: #000 !important;
  font-weight: bold !important;
  border: 1px solid #c8ced3 !important;
}

.nav-item.tab > .nav-link {
  background: #f0f3f5 !important;
  color: #000 !important;
  border: 1px solid #c8ced3 !important;
}
.nav-item-invalid.tab > .nav-link {
  background: #f0f3f5 !important;
  color: #000 !important;
  border: 1px solid #dc3545 !important;
}

.nav-pills .nav-link.active-1,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #052138;
}
.nav-pills .nav-link.active-2,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #20639b !important;
  border-radius: 7px !important;
}

.no-underline {
  border-bottom: 0px !important;
}

.btn:focus,
.btn:hover {
  opacity: 0.9 !important;
}

.bg-darkblue {
  background: #28649c !important;
  color: #fff !important;
}

.bg-gray-light {
  background-color: #FAFAFA !important ;
}

.bg-darkp {
  background-color: #393842 !important ;
}

.bg-darks1 {
  background-color: #181818 !important ;
}

.bg-blue {
  background-color: #3766FF !important ;
}

.bg-gray-3{
  background-color: #FAFAFA !important;
  /* box-shadow: 0px 9px 11px rgba(0, 0, 0, 0.1); */
  border-radius: 50px !important;
  }
  
  .bg-green2 {
    background: #70ad46 !important;
    color: #fff !important;
  }
  
  .bg-cyan {
    background: #25b881 !important;
    color: #fff !important;
  }
  
  .bg-yellow {
    background: #ffc107 !important;
    color: #fff !important;
  }
  
  .bg-orange {
    background: #ed7d31 !important;
    color: #fff !important;
  }
  
  .bg-red {
    background: #fe0000 !important;
    color: #fff !important;
  }

  .border-card {
    border: 1px solid #c8ced3;
  }

  .border-round {
    border: 1px solid #c8ced3;
    border-radius: 10px;
  }

  .border-card-title {
    border-bottom: 1px solid #c8ced3;
  }

  .footer-org .svg-inline--fa.fa-w-16 {
    width: 5px !important;
  }

  .footer-org p {
    display: flex !important;
    align-items: center !important;
  }


/* ใช้------------------- */


.w-35{
  width: 35%;
}

@media (min-width: 320px) {
  .carousel-caption {
    color: #fff;
    top: 58%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    bottom: initial;
  }

  .img-logoOur{
    width: 70px ;
    height: 70px !important;
    object-fit: cover ;
  }

  .image-database{
    width: 40px ;
    height: 40px;
    object-fit: cover;
  }

  .image-Partner{
    width: 70px ;
    height: 70px;
    object-fit: cover;
  }

.workWidth
 {
    width: 100% !important;
    height: 50% !important;
  }
}


@media (min-width: 375px) {
  .carousel-caption {
    color: #fff;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    bottom: initial;
  }
  .img-logoOur{
    width: 75px ;
    height: 75px !important;
    object-fit: cover ;
  }

  .image-Partner{
    width: 75px ;
    height: 75px;
    object-fit: cover;
  }

  .image-database{
    width: 45px ;
    height: 45px;
    object-fit: cover;
  }

}


@media (max-width: 576px) {
  .img-logoh{
    width: 45px ;
    height: 45px !important;
    object-fit: cover ;
  }
}


@media (min-width: 576px) {
  .img-logoh{
    width: 67px ;
    height: 67px !important;
    object-fit: cover ;
  }
 
  .carousel-caption {
    color: #fff;
    top: 57%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    bottom: initial;
  }

}

@media (min-width: 768px) {
  .workWidth
 {
    width: 70% !important;
    height: 70% !important;
  }

}

@media (max-width: 768px) {
  .col-none {
    display: none;
  }
  
}


@media (min-width: 992px) {
  .carousel-caption {
    color: #fff;
    top: 46%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    bottom: initial;
  }
  .img-logoOur{
    width: 100px ;
    height: 100px !important;
    object-fit: cover ;
  }

  .image-database{
    width: 70px ;
    height: 70px;
    object-fit: cover;
  }
  
  .image-Partner{
    width: 100px ;
    height: 100px ;
    object-fit: cover;
  }

  .workWidth
 {
    width: 60% !important;
    height: 50% !important;
  }

}

@media (min-width: 1028px) {
  .carousel-caption {
    color: #fff;
    top: 52%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    bottom: initial;
  }
  
}

 @media (min-width: 1200px) {
  .carousel-caption {
    color: #fff;
    top: 56%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
    bottom: initial;
  }
  .img-logoOur{
    width: 140px ;
    height: 140px !important;
    object-fit: cover ;
  }

  .image-database{
    width: 100px ;
    height: 100px ;
    object-fit: cover;
  }

  .image-Partner{
    width: 140px ;
    height: 140px ;
    object-fit: cover;
  }
  .workWidth
  {
     width: 50% !important;
     height: 50% !important;
   }
}




